<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>themeName</key>
	<string>lightmode-color-scheme-test</string>
	<key>textEditorForeground</key>
	<dict>
		<key>hexColor</key>
		<string>000000</string>
	</dict>
	<key>textEditorBackground</key>
	<dict>
		<key>hexColor</key>
		<string>FFFF00</string>
	</dict>
	<key>textEditorError</key>
	<dict>
		<key>hexColor</key>
		<string>FFE8DF</string>
	</dict>
	<key>textEditorKeyword</key>
	<dict>
		<key>hexColor</key>
		<string>C03889</string>
	</dict>
	<key>textEditorComment</key>
	<dict>
		<key>hexColor</key>
		<string>008D14</string>
	</dict>
	<key>textEditorSymbols</key>
	<dict>
		<key>hexColor</key>
		<string>C12875</string>
	</dict>
	<key>textEditorHighlight</key>
	<dict>
		<key>hexColor</key>
		<string>B4D8FD</string>
	</dict>
	<key>canvasBackground</key>
	<dict>
		<key>hexColor</key>
		<string>ECECEC</string>
	</dict>
	<key>timeline</key>
	<dict>
		<key>hexColor</key>
		<string>636363</string>
	</dict>
	<key>participantText</key>
	<dict>
		<key>hexColor</key>
		<string>000000</string>
	</dict>
	<key>participantBorder</key>
	<dict>
		<key>hexColor</key>
		<string>979797</string>
	</dict>
	<key>participantBackground</key>
	<dict>
		<key>hexColor</key>
		<string>D8D8D8</string>
	</dict>
	<key>arrowHead</key>
	<dict>
		<key>hexColor</key>
		<string>000000</string>
	</dict>
	<key>signalMessage</key>
	<dict>
		<key>hexColor</key>
		<string>000000</string>
	</dict>
	<key>signalLine</key>
	<dict>
		<key>hexColor</key>
		<string>979797</string>
	</dict>
	<key>signalTerminator</key>
	<dict>
		<key>hexColor</key>
		<string>000000</string>
	</dict>
	<key>interactionFrameBackgroundColor</key>
	<dict>
		<key>hexColor</key>
		<string>FFFF00</string>
		<key>alpha</key>
		<real>0.05</real>
	</dict>
	<key>interactionFrameBorderColor</key>
	<dict>
		<key>hexColor</key>
		<string>000000</string>
	</dict>
	<key>interactionFrameLabelBackgroundColor</key>
	<dict>
		<key>hexColor</key>
		<string>FFFFFF</string>
	</dict>
	<key>interactionFrameLabelBorderColor</key>
	<dict>
		<key>hexColor</key>
		<string>BEBEB6</string>
	</dict>
	<key>interactionFrameLabelTextColor</key>
	<dict>
		<key>hexColor</key>
		<string>000000</string>
	</dict>
	<key>noteViewText</key>
	<dict>
		<key>hexColor</key>
		<string>000000</string>
	</dict>
	<key>noteViewBorder</key>
	<dict>
		<key>hexColor</key>
		<string>979797</string>
	</dict>
	<key>noteViewBackgroundColor</key>
	<dict>
		<key>hexColor</key>
		<string>FFCDAA</string>
	</dict>
	<key>activationBoxBorderColor</key>
	<dict>
		<key>hexColor</key>
		<string>636363</string>
	</dict>
	<key>activationBoxBackgroundColor</key>
	<dict>
		<key>hexColor</key>
		<string>FFFFFF</string>
	</dict>
</dict>
</plist>
